@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    background-color: #c7d4d1;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}